<div class="container">
  <br/>
  <h1 >{{album.title}}</h1>

  <br/>
  <button *ngIf="!toggleForm" class="btn btn-primary" (click)="showForm()">Edit Album</button>

  <button class="btn btn-danger" style="margin-left: 1%" (click)="deleteAlbum()">Delete Album</button>

  <br/>

  <div *ngIf="toggleForm">
    <edit-album [album]="album" [users]="users" (emitToggle)="emitToggle($event)" (emitNewAlbum)="emitNewAlbum($event)"></edit-album>
    <br/>
  </div>
</div>

<div>
  <list-photos [disableDetails]="toggleForm" [photos]="photos" [options]="options"></list-photos>
</div>


